---
import '../styles/role-icon.css';
import { HeroRoleType } from "../types/heros";
import { ImageAsset } from '../types/common';
import { getImageAssetById } from "../accessors/common/getData.ts";

const BASE_ICON = '/CompassDeckSimulator/' + getImageAssetById(ImageAsset.HEXAGON).imagePath;
const roleIcons: Record<HeroRoleType, string> = {} as const;

const assetPath = (asset: ImageAsset) => `/CompassDeckSimulator/${getImageAssetById(asset).imagePath}`;
roleIcons[HeroRoleType.SPRINTER]  = assetPath(ImageAsset.SHOES);
roleIcons[HeroRoleType.ATTACKER]  = assetPath(ImageAsset.SWORD);
roleIcons[HeroRoleType.GUNNER]    = assetPath(ImageAsset.WAND_STARS);
roleIcons[HeroRoleType.TANK]      = assetPath(ImageAsset.SHIELD);

const { role, size = 38 } = Astro.props;
---

<div
  class="role-icon"
  style={`width:${size}px; height:${size}px;`}
>
  <img src={BASE_ICON} class="role-icon-base" alt="" />
  <img src={roleIcons[role]} class="role-icon-front" alt="" />
</div>